#home {
    margin-top: 20px;
    margin-left: 20px;
}

header {
    text-align: center;
    color: #4550e0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.container_cuadrado {
    display: flex;
}

.card-footer {
    height: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    align-self: center;
}

.form > button {
    align-self: center;
}

.container_triangulo {
    display: flex;
}

.container_circulo {
    display: flex;
}


